body {
    background-image: url(img/background_page.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

#grid {
    min-height: 500px;
    border-radius: 7px;
}

.rowGrid {
    display: flex;
}

.fakeRowGrid {
    display: flex;
}

.cell {
    border-radius: 5px;
    flex: 1;
    height: 10vh;
}

.fakeCell {
    border-radius: 5px;
    flex: 1;
    height: 10vh;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.fakeCell p{
    margin-top:3vh;
}

.cell img {
    width: 100%;
    height: 100%;
}

#boardScreen {
    height: 100%;
}

#inicialPage {
    height: 100%;
    width: 100%;
    padding: 4vh;
}

#buttonPlayerSelect {
    margin-top: 2vh;
    /*background: white;
    border-radius: 8px;
    border-color: black*/
}

#currentPlayerPlaying {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 30px;
}

#footer {
    text-align: center;
}

.playerDisplay {
    padding: 3vh;
    font-size: 3vh;
}

.hideButton{
    visibility: hidden;
}

.imageEndGameScore img {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 14vh;
}

.hideInput {
    visibility: hidden;
}